html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.home-container{
    background-color: #fff0f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffb6c1;
    border-radius: 0 0 5px 5px;
}
