# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
services/web/Authentication/.env
frontend/.env
services/web/e-commerce
e-commerce
services/Storage-service/src/uploads/*
services/Storage-service/.env
services/SSR-Service/.env
frontend/AdminFront/.env
frontend/ShopFront/.env
