.home-container{
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    border: 2px solid #dbcaac;
    border-radius: 0 0 5px 5px;
    background-color: #eee5d7;
    min-height: 100vh;
}
.home-navbar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem;
    position: fixed;
}


.home-filters-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .5rem;
}

@media(max-width:718px){
    .home-filters-container{
        flex-direction: column;
    }
}