---
import HomeBanner from "../components/HomeBanner/HomeBanner";
import HomeAds from  "../components/HomeAds/HomeAds"
import HomeWrapper from "../components/utils/HomeWrapper"
import Navbar from "../components/Navbar/Navbar";
import HomeCart from "../components/HomeCart/HomeCart";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cinnamon-Shop</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<article class="home-container">
			<Navbar client:only/>
			<HomeBanner client:only="react"/>
			<HomeAds client:load/>
			<HomeWrapper client:load/>
			<HomeCart client:load/>
		</article>
	</body>
</html>
