---
import HomeBanner from "../components/HomeBanner/HomeBanner";
import HomeAds from  "../components/HomeAds/HomeAds"
import HomeWrapper from "../components/utils/HomeWrapper"
import Navbar from "../components/Navbar/Navbar";
import HomeCart from "../components/HomeCart/HomeCart";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/index.css">

		<title>Cinnamon-Shop | Cosmética natural & bienestar</title>
		<meta name="description" content="Descubrí una selección exclusiva de productos de cosmética natural, cuidados de la piel y bienestar diario. Comprá online con envío rápido y atención personalizada." />
		<meta name="keywords" content="cosmética natural, cuidado de la piel, tienda online, skincare, belleza, productos naturales" />
		<meta name="author" content="Cinnamon-Shop" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="Cinnamon-Shop | Cosmética natural & bienestar" />
		<meta property="og:description" content="Productos naturales, limpios y efectivos para tu rutina de cuidado diario. Envios rápidos. Atención personalizada." />
		<meta property="og:image" content="https://shop.cinnamon-makeup.com/BannerMobile.webp" />
		<meta property="og:url" content="https://shop.cinnamon-makeup.com/" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Cinnamon-Shop | Cosmética natural & bienestar" />
		<meta name="twitter:description" content="Tienda de cosmética natural y bienestar. Encontrá los mejores productos para tu piel." />
		<meta name="twitter:image" content="https://shop.cinnamon-makeup.com/BannerMobile.webp" />

		<link rel="icon" href="/favicon.png" type="image/svg+xml" />

	</head>
	<body>
		<article class="home-container">
			<Navbar client:only/>
			<HomeBanner client:only="react"/>
			<HomeAds client:load/>
			<HomeWrapper client:load/>
			<HomeCart client:load/>
		</article>
	</body>
</html>
